body{
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Spartan', sans-serif;
   
}

h1,h2,p{
    margin-top: 0px;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    color: white;
    font-size: 15px;
    padding-top: 5px;
    
   
}

p{
    font-size: 15px;
    }

.holder{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
margin-top: 40px;
}

.words{
    line-height: 25px;
    margin-bottom: 40px;
}

#part1{
display: flex;
flex-direction: column;
    width: 375px;
    text-align: center;
    
}

.reviews{
    padding: 15px;
    background-color:hsl(300, 23%, 94%) ;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.reviewstars{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    padding-top: 10px;
   
}

#part2{
display: flex;
flex-direction: column;
width: 375px;
text-align: center;
margin-top: 40px;
    
}

.boxxy{
    background-color:hsl(300, 43%, 22%) ;
    text-align: left;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
}

.boxxy p{
    color: white;
    font-size: 12px;
    line-height: 24px;
    clear:both;
    margin-top: 40px;
}

.buyer{
    display: block;
    color:hsl(333, 80%, 67%) ;
    font-weight: 100;
    padding-top: 5px;
}

.imgs{
    border-radius: 40px;
    width:50px;
    float: left;
    margin-right: 20px;
}

@media screen and (min-width:1440px){
    #part1{
        display: flex;
        flex-direction: row;
            width: 1000px;
            text-align: left;
            justify-content: space-between;
            
        }

        #words{
    width: 400px;
        }

        .stars{
        width: 600px;
        }

       .imgholder{
        padding-top: 8px;
        padding-right: 25px;
       }

        .reviews{
            flex-direction: row;
            width: 400px;
        }

        #review2{
          margin-left: 40px;
        }

        #review3{
            margin-left: 80px;
        }

        #part2{
            display: flex;
            flex-direction: row;
            width: 1000px;
            text-align: center;
            margin-top: 40px;
                
            }

            .boxxy{
               
                margin-right: 20px;
            }



}

